<div class="row">
  <h2>
    <%= Order.model_name.human(count: @orders.count) %>
  </h2>
</div>

<div class="row">
  <table class="table table-striped table-borderless">
    <thead>
      <tr class="align-middle">
        <th scope="col">#</th>
        <th scope="col"><%= Order.human_attribute_name(:customer) %></th>
        <th scope="col"><%= OrderProduct.model_name.human(count: 2) %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render(partial: 'order', collection: @orders) %>
    </tbody>
  </table>
</div>
